<configuration>
    <timestamp key="byDay" datePattern="yyyy_MM_dd" />

    <logger name="org.apache.http" level="INFO"/>
    <logger name="akka.cluster.ddata.Replicator" level="INFO"/>
    <logger name="akka.io" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>
                %date{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{10}) [%X{akkaSource}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APPLICATION_NAME}-log-${byDay}.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APPLICATION_NAME}-error-log-${byDay}.txt </file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLUSTER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APPLICATION_NAME}-cluster-log-${byDay}.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DB_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APPLICATION_NAME}-db-log-${byDay}.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="KRYO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${APPLICATION_NAME}-kryo-log-${byDay}.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.cluster.ddata" level="ALL" >
        <appender-ref ref="CLUSTER_FILE" />
        <appender-ref ref="ERROR_FILE"/>
    </logger>

    <logger name="com.romix.akka.serialization.kryo" level="TRACE" >
        <appender-ref ref="KRYO_FILE" />
    </logger>

    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>
</configuration>
